#pageName {
    color: red;
    display: grid;
    margin-left: 10px;
}

:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.main-area {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin: 5px;
}

.icon-list {
    text-align: center;
    grid-row: 1/-1;
    margin-right: 5px;
    padding-top: 0px;
    display: grid;
}

#listDesc {
    margin-bottom: 5px;
}

button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.hover:hover {
    background-color: rgb(0, 21, 212);
    cursor: pointer;
}

app-todo-item-presenter:hover {
    cursor: pointer;
}

.items-area {
    align-self: flex-start;
    margin: 10px;
}

.margin {
    margin-top: 10px;
    margin-left: 9px;
}

.item-desc {
    height: 100%;
    display: grid;
}

#newItem input {
    width: 300px;
    margin-right: 5px;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.material-icons.md-48 {
    font-size: 48px;
}

.delete {
    background-color: rgb(230, 87, 66);
}

.delete:hover {
    background-color: rgb(255, 0, 0);
}

.cancel {
    background-color: rgb(128, 214, 70);
}

.cancel:hover {
    background-color: rgb(117, 247, 30);
}

#newItem {
    align-items: center;
}