:host{
    display: grid;
    grid-template-rows: auto 1fr;
    
}

#pageName {
    color: red;
    display: grid
}

.form-div{
    justify-content: center;
    align-items: center;
    align-self: center;
}

form{
    border: 5px solid rgb(0, 217, 255);
    background-color: rgb(183, 221, 228);

    width: 350px;
    height: 400px;
}




form *{
    display: grid;
    width: 90%;
    margin-left: 10px;
}

form div{
    margin-bottom: 10px;
}

#save-btn{
    width: 90px;
    height: 40px;
    margin-top: 50px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: x-large;
    justify-self: flex-end;
}