
Day 13/ex2 -TS/bin/exam.js
Day 13/ex2 -TS/bin/exam.js.map
Day 13/ex2 -TS/bin/helper.js
Day 13/ex2 -TS/bin/helper.js.map
Day 13/ex2 -TS/bin/main.js
Day 13/ex2 -TS/bin/main.js.map
Day 13/ex2 -TS/bin/question.js
Day 13/ex2 -TS/bin/question.js.map
