<div class="title-area">
    <app-title caption='Pop Quiz'></app-title>
</div>

<div class="main-area">
    <app-question-presentor 
        *ngIf="!isQuizOver"
        (choseEvent)="setNewQuestion()" 
        [currentQuestion]="questionList[currentQuestionNumber-1]"
    ></app-question-presentor>


    <app-quiz-over
    *ngIf="isQuizOver"
    [testResult]="getQuizResult()"
    (resetGameEvent)="resetGame()" 
    >

    </app-quiz-over>
</div>

<div class="summary-area">
    <app-summery
        [summeryQuestionList]="summeryList"

    ></app-summery>
</div>


