:host {
    display: grid;
    grid-template-rows: auto 1fr;
}

#pageName {
    color: red;
    display: grid
}

.lists-area {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}


.box:hover {
    background-color: rgb(40, 102, 102);
    cursor: pointer;
}


.material-icons.orange600 {
    color: #FB8C00;
}

.box {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 5px solid rgb(128, 214, 240);
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 189, 189);
}
 
#caption {
    text-align: center;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.material-icons.md-48 {
    font-size: 48px;
}

