:host {
    display: grid;
    grid-template-rows: auto 5% 1fr 10%;
    grid-template-columns: 10% 1fr 10%;
    
}

#pageName {
    grid-column: 1/-1;
    color: red;
    display: grid;
    margin-left: 10px;
}

.lists-area {
    display: flex;
    grid-row:3;
    grid-column: 2;
    flex-flow: row wrap;
    /* justify-self: center;
    align-content: flex-start; */
    /* justify-self: center; */

    /* align-content: center;    */
    /* justify-content: flex-start;  */
    /* align-items:flex-start; */
}

app-todo-list-box{
    width: 200px;
    height: 200px;
}

.lists *:hover{
    cursor: pointer;
}
