<label id="pageName">
    Lists
</label>

<div class="lists-area">

    <div class="box" *ngFor="let list of (todoLists$|async)" (click)="goToList(list.id)">
        <span [style.color]="list.color" class="material-icons md-48 icon-list">{{list.imageUrl}}</span>
        <label>{{list.caption}}</label>

    </div>

    <div class="box" (click)="goToList(-1)">
        <span class="material-icons md-48 icon-list orange600">add_circle_outline</span>
        <label>New List</label>

    </div>
</div>