<div>
  a: <input #num1 type="number" (input)="setA(num1.value)">
</div>

<div>
  b: <input #num2 type="number" (input)="setB(num2.value)">

</div>


<div>
  <button #Go (click)="claculate()">GO!</button>
</div>

<div #results [hidden]="!flag">
  <div #resultAdd1>
    <span>
        {{a}} + {{b}} = {{resultAdd}}
    </span>  
  </div>
  
  <div #resultSub1 >
    <span>
        {{a}} - {{b}} = {{resultSub}}
    </span>  
  </div>

  
  <div #resultMul1 >
    <span>
        {{a}} * {{b}} = {{resultMul}}
    </span>  
  </div>
</div>

