:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

#pageName {
    color: red;
    display: grid;
    margin-left: 10px;
}

#title{
    display: grid;
    font-size: xx-large;
    color: rgb(24, 73, 80);
    text-align: center;
}

.form-div {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

form {
    border: 2px solid rgba(6, 94, 102, 0.486);
    background-color: rgb(229, 252, 253);
    width: 300px;
    height: 450px;
    padding-top: 10px;
}

form mat-form-field {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
}

#save-btn {
    width: 90px;
    height: 40px;
    margin-right: 15px;
    margin-top: 10px;
    justify-self: flex-end;
}

.mat-icon-check {
    color: rgb(55, 204, 14);
}