:host {
    margin: 10px;
    /* border: 1px solid rgba(255, 248, 248, 0.822);*/
    /* background-color: rgba(211, 211, 211, 0.822);  */
    border: 1px solid rgba(255, 248, 248, 0.822);
    background-color: rgba(228, 228, 228, 0.897);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.788) 0px 3px 3px 0px;
}

:host:hover{
    background-color: rgba(184, 177, 177, 0.897);



}
.material-icons.md-72 {
    font-size: 72px;
}

#caption {
    text-align: center;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

}
