
:host {
    display: grid;
    cursor: pointer;
}

.item-desc {
    padding-top: 10px;
}

.completed{
    text-decoration: line-through;
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-style: 10px solid;
    opacity: 0.9;
}

.opacity{
    opacity:0.5;
}