:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.main-area {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    margin: 5px;
}

.icon-list {
    text-align: center;
    grid-row: 1/-1;
    margin-right: 5px;
    padding-top: 0px;
    display: grid;
}

#listDesc {
    margin-bottom: 5px;
}

.action-button {
    width: 100px;
    height: 40px;
    background-color: bisque;
    border-radius: 5px;
    border: 3px solid green;
    margin-right: 10px;
    ;
}

button:hover {
    background-color: rgb(228, 200, 166);
    cursor: pointer;
}

#deleteBtn {
    background-color: rgb(214, 89, 70);
}

#deleteBtn:hover {
    background-color: rgb(248, 68, 41);
}

.items-area {
    align-self: flex-start;
    margin: 10px;
}

.item-line {
    margin-top: 10px;
}

/* .item-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    align-self: center;
    display: grid;
}  */

.item-desc {
    height: 100%;
    display: grid;
}

#newItem input {
    width: 300px;
    margin-right: 5px;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.material-icons.md-48 {
    font-size: 48px;
}