
    li{
        background-color: rgb(255, 25, 25);
    }

    .oneResult{

        border-radius: 10px;
        border: 3px solid rosybrown;
        margin: 3px;
    }


    li.goodAnswer{
        background-color: rgb(72, 255, 72);
    }